body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.limite {
  color: #ff0000
}

#canvasImages {
  border: 2px solid black;
  height: 300px;
  width: 300px;
}
